.btn {
  background: #41583D;
  border-radius: 24px;
  color: white;
  padding: 1rem 5rem;
  text-decoration: none;
  width: max-content;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;

  &:hover {
    background: #55774d;
  }

  &:active {
    background: #4e6c46;
  }
}

.big-btn {
  padding: 2rem 6rem;
  font-size: 2.5rem;
}