@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    color: white;
}

body {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
    url("/assets/background.jpeg") fixed;
    background-size: cover;
    //background-attachment: fixed;
}

main {
    margin-top: 10vh;
}

.container {
    padding: 3rem 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Toastify__toast-body {
    div {
        color: whitesmoke !important;
    }
}

.Toastify__progress-bar-theme--light {
    background: red;
}

.Toastify__toast-theme--colored.Toastify__toast--default, .Toastify__toast-theme--light {
    background-color: #404040;
}

@media screen and (max-width: 750px) {
    .container {
        padding: 1rem 2rem;
    }

    body {
        background-size: contain;
    }
}